
body {margin: 0;
font-family: Poppins, Arial;
background-image:url(backround.jfif)
}

header {
background: #72bdf2;
padding: 15px 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


nav {
width: 90%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}


.logo {
color: white;
font-size: 26px;
font-weight: bold;
}


nav ul {
display: flex;
gap: 20px;
list-style: none;
}


nav a {
color: white;
text-decoration: none;
font-size: 18px;
}


nav a.active {
color: yellow;
}


/* HERO */
.hero {
text-align: center;
padding: 60px 20px;
}


.btn {
background-color: #c2e3f8;
padding: 5px 5px;
color: white;
border-radius: 20px;
text-decoration: none;
}

/* PRODUCTS */
.products {
padding: 40px 20px;
text-align: center;
}


.product-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
margin-top: 30px;
}


.card {
background: white;
padding: 15px;
border-radius: 15px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.card img {
width: 100%;
border-radius: 10px;
}


button {
background: #a3d1ff;
border: none;
padding: 10px 15px;
color: white;
border-radius: 10px;
cursor: pointer;
}


/* ABOUT */
.about {
text-align: center;
padding: 40px 20px;
}


/* CONTACT */
.contact {
text-align: center;
padding: 40px 20px;
}


.contact form {
max-width: 400px;
margin: auto;
display: flex;
flex-direction: column;
gap: 15px;
}


.contact input, .contact textarea {
padding: 12px;
border-radius: 10px;
border: 1px solid #aaa;
}
/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #72bdf2 ;
  position: sticky;
  top: 0;
  z-index: 100;
  animation: fadeDown 1s ease;
}

nav h1 {
  color: white;
}

/* SEARCH BAR */
.search-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-box input {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* HERO ANIMATION */
.hero {
  text-align: center;
  padding: 120px 20px;
 
  animation: fadeUp 1.2s ease;
}

.hero h2 {
  animation: pop 0.8s ease-in-out;
}

/* PRODUCT CARD ANIMATION */
.card {
  animation: zoom 0.6s ease;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.06);
}

/* KEYFRAMES */
@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pop {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes zoom {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}